\:root
	--c-accent: #{$c-accent}
	
	font-size: 16px
	@media (--phone-big)
		font-size: 16px
		
html
	scroll-behavior: smooth

body
	background: #f9f9f9
	//+css-lock(16, 50, 600, 1000)
	line-height: 1.6
	font-size: 1rem
	font-weight: 400
	font-family: 'Roboto', sans-serif
	background: #fff
	color: #1c1c1c
	padding-bottom: 42px
	::selection
		background: var(--c-accent)
		color: #fff
	@media (--tablet)
	
	
h1,.h1
	font-family: $f-header
	font-weight: 100
	line-height: 1.2
h2,h3,h4,h5,h6,.h2,.h3,.h4,.h5,.h6
	font-family: $f-header
	font-weight: 300
	line-height: 1.2
	
.out
	//overflow-x: hidden
	
.debug
	outline: 1px dotted rgba(255, 191, 9, 0.62)
	oultine-offset: 1px

.h
	&_1
	

