<div class="modal modal_common zoom-anim-dialog js-modal_demo">
    <form class="modal__data js-validate js-ajax-form" method="get" action="/response.json">
        <!-- н забудь поставить post -->
        <div class="modal__header">
            <h2 class="modal__name">Маленький постмортем</h2>
        </div>
        <div class="modal__content text-block">
            <div class="modal__messages"></div>
            <p>Мда-уж, далеко не четыре часа получилось :)</p>
            <p>Не смотря на то, что макет довольно таки простой, запнулся на слайдере. Сначала выбрал по инерции ion, но после прорвы времени понял, что победить его не удастся. В итоге взял nouiSlider, и немного его подправил - он использовал transform: scale() для изменения ширины бара, что не давало возможности вложить в него диагональный градиент (он сжимался). Сделал чтобы использовался просто width.</p>
            <p>К слову, пайпы, которые пересекают бар я не делал, оставил только пунктир. Если покажите как кто-то реализовал данную штуку, буду крайне благодарен (есть идея, но глубже эксперементировать уже не стал).</p>
            <p>Select реализовал как в макете, но, по правде говоря, предпочитаю делать нативный. Скроллбар сктилизовал с помощью css (ie простит).</p>
            <p>Пиксельперфект сделать был бы рад, но беда в том, что в макете гуляют отступы, сделал чтобы были кратными 8 (и одинаковыми, что намного важнее пиксельперфекта в данном конкретном случае. В виду этого многое уползло вниз.</p>
            <p>Еще кое-что умышленно не как в макете (интересно заметите ли сами))</p>
            <p>Моей ошибкой было то, что взял переходную версию своего "бутстрапа", из за чего потратил время на удаление всего ненужного. Так-же сказалося отпуск длиной в лето. И отсутствие в мозговом кеше подходящего скрипта для слайдеров (не помню даже когда он в последний раз был нужен).</p>
            <p>В принципе получил удовольствие - слайдер заставил пошевелить мозгами.</p>
            <p>Мак девайсов нет, на броузестаке проверять не стал, но думаю, что там все ок. Валидатором тоже не проверял, думаю что тоже ок. Если интересно проверьте очки "оптимизированности" в лайтхауз и гугле - там все самое интересное :).</p>
            <p>По макету:</p>
            <ul>
                <li>Графика не кратна 2 - это не очень хорошо.</li>
                <li>Отступы взяты, как будто из воздуха.</li>
                <li>Вес шрифтов не соответствует реальному (вероятно причина в том, что в фотошопе выбран какой-то не стандартный режим рендеринга). Фотошоп в принципе не корректно работает со шрифтами. Верстаю с помошью авокода, и макеты обычно из скетча. Разница несравненная.</li>
                <li>Было что-то еще, но уже не припомню</li>
            </ul>
            <p>Жду вашего отзыва и продолжения диалога.</p>
        </div>
        <div class="modal__footer">
            <p>Текст продолжает ритм. Восприятие сотворчества, следовательно, выстраивает горизонт ожидания.</p>
        </div>
    </form>
</div>
