<div class="modal modal_common zoom-anim-dialog modal_{% block "modal_id" %}{% endblock %}">
    <form class="modal__data js-validate js-ajax-form" method="get" action="/response.json">
        <!-- н забудь поставить post -->
        <div class="modal__header">
            <h2 class="modal__name">{% block "modal_name" %}{% endblock %}</h2>
        </div>
        <div class="modal__content">
            <div class="modal__messages">{% block "modal_messages" %}{% endblock %}</div>
            {% block "modal_content" %}{% endblock %}
        </div>
        <div class="modal__footer">
            {% block "modal_footer" %}{% endblock %}
        </div>
    </form>
</div>
