.l-header {
	position: relative;
	padding-top: 200px;
	overflow: hidden;
	position: relative;
	&__mobile-menu {
		display: none;
	}
	&:after {
		content: ' ';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 120px;
		background: linear-gradient(
						to bottom,
						hsla(0, 0%, 100%, 0) 0%,
						hsla(0, 0%, 100%, 0.013) 8.1%,
						hsla(0, 0%, 100%, 0.049) 15.5%,
						hsla(0, 0%, 100%, 0.104) 22.5%,
						hsla(0, 0%, 100%, 0.175) 29%,
						hsla(0, 0%, 100%, 0.259) 35.3%,
						hsla(0, 0%, 100%, 0.352) 41.2%,
						hsla(0, 0%, 100%, 0.45) 47.1%,
						hsla(0, 0%, 100%, 0.55) 52.9%,
						hsla(0, 0%, 100%, 0.648) 58.8%,
						hsla(0, 0%, 100%, 0.741) 64.7%,
						hsla(0, 0%, 100%, 0.825) 71%,
						hsla(0, 0%, 100%, 0.896) 77.5%,
						hsla(0, 0%, 100%, 0.951) 84.5%,
						hsla(0, 0%, 100%, 0.987) 91.9%,
						hsl(0, 0%, 100%) 100%
		);
		
	}
	&__inner {
		z-index: 1;
		position: relative;
	}
	
	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		
		img {
			width: 100%;
			min-width: auto!important;
			transform: translate(0px, 0px);
			height: 100%!important;
			object-fit: cover;
			object-position: 50% 50%;
		}
		
	}
	

	&__name {
		font-size: 70px;
		font-weight: 100;
		line-height: 1;
		text-align: center;
	}
	

	
	&__nav {
		//width: calc(100% / 1.6);
		position: absolute;
		top: 0;
		right: 0;left: 0;
	}
	
	@media (--tablet) {
		&__mobile-menu {
			position: fixed;
			left: 20px;
			top: 20px;
			background-color: transparent;
			width: 24px;
			height: 24px;
			display: block;
			z-index: 1000;
			.icon {
				font-size: 24px;
				fill: #435993;
			}
		}
	}
}
