.l-main-menu {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 80px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.4);
	
	&__inner {
		width: 100%;
		max-width: 580px;
	}
	
	&__list {
		display: flex;
		justify-content: space-between;
	}
	
	&__item {
		margin-left: 1em;
		margin-right: 1em;
		font-size: 14px;
		
		a {
			color:  #435993;
			
			&:hover {
				color: #1c1c1c;
			}
		}
	}
	
	&__name {
		text-decoration: none;
	}
	
	@media (--tablet) {
		height: auto;
		position: fixed;
		z-index: 14;
		padding: 24px 0;
		transition: transform .2s ease-out, opacity .2s ease-out;
		
		&:not(.visible) {
			transform: translateY(-100%);
			opacity: 0;
			transition: transform 0s ease-out, opacity 0s ease-out;
		}
		&__list {
			flex-direction: column;
			margin-left: -1em;
			align-items: center;
		}
		&__item {
			padding: 8px 0;
		}
	}
}
