---
title: Тестовое задание для "w-s.ru"
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% import 'data/data.html' as data %}
    <section class="l-section">
        <div class="l-ctr">
            <form class="l-form" action="/">
                <div class="l-form__inner">
                    {% include 'partials/sections/_private.html' %}
                    {% include 'partials/sections/_experience.html' %}
                    {% include 'partials/sections/_js.html' %}
                    {% include 'partials/sections/_about.html' %}

                    <div class="l-form__btns">
                        <button class="btn" data-modal="demo" type="button" title="На последок">P.S.</button>
                        <!-- /.btn -->
                    </div>
                    <!-- /.l-form__btns -->
                </div>
                <!-- /.l-form__inner -->
            </form>
        </div>
        <!-- /.l-section__ctr -->
    </section>
    <!-- /.l-section -->

{% endblock %}
