//html:after{
//	content: 'wide';
//	//display: none;
//}
@media (--phone){
	html:after{
		content: 'phone';
		display: none;
	}
}
@media (--phone-big){
	html:after{
		content: 'phone-big';
		display: none;
	}
}
@media (--tablet){
	html:after{
		content: 'tablet';
		display: none;
	}
}
@media (--desktop){
	html:after{
		content: 'desktop';
		display: none;
	}
}
@media (--desktop-wide){
	html:after{
		content: 'desktop-wide';
		display: none;
	}
}
