<label class="l-form-item l-form-item_checkbox">
    <!-- /.l-form-item__caption -->
    <span class="l-form-item__control-wrap">
        <input class="l-form-item__control" type="checkbox" value="{{ formItem.value }}" {% if formItem.checked %} checked {% endif %}>
        <!-- /.l-form-item__control -->
        <span class="l-form-item__caption">{{ formItem.caption }}</span>
    </span>
    <!-- /.l-form-item__control-wrap -->
</label>
<!-- /.l-form-item -->
