<label class="l-form-item l-form-item_input focused">
    <span class="l-form-item__control-wrap">
        <span class="l-form-item__caption js-input-caption">{{ formItem.caption }}</span>
        <!-- /.l-form-item__caption -->
        <input class="l-form-item__control js-input" value="{{ formItem.value }}">
        <!-- /.l-form-item__control -->
    </span>
    <!-- /.l-form-item__control-wrap -->
</label>
<!-- /.l-form-item -->
