<div class="l-form-item l-form-item_range js-range">
    <span class="l-form-item__control-wrap">
        <ul class="l-form-item__range-captions js-range-captions">
        {% for option in formItem.options %}
            <li data-value="{{ option.id }}">{{ option.value|safe }}</li>
        {% endfor %}
        </ul>
        <!-- /.l-form-item__range-captions -->
        <div  class="l-form-item__control js-range-range" value="{{ formItem.value }}" data-options="{{ formItem.data }}"></div>
        <!-- /.l-form-item__control -->


    </span>
    <!-- /.l-form-item__control-wrap -->
</div>
<!-- /.l-form-item -->
