<label class="l-form-item l-form-item_select">
    <span class="l-form-item__caption">{{ formItem.caption }}</span>
    <!-- /.l-form-item__caption -->
    <span class="l-form-item__control-wrap">
        <select class="l-form-item__control js-select" placeholder="{{ formItem.caption }}">
            {% for option in formItem.options %}
                <option value="{{ option }}" {% if option == formItem.value %} selected {% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
        <!-- /.l-form-item__control -->
    </span>
    <!-- /.l-form-item__control-wrap -->
</label>
<!-- /.l-form-item -->
