<label class="l-form-item l-form-item_textarea">
    <span class="l-form-item__caption">{{ formItem.caption }}</span>
    <!-- /.l-form-item__caption -->
    <span class="l-form-item__control-wrap">
        <textarea class="l-form-item__control" placeholder="{{ formItem.caption }}">{{ formItem.value }}</textarea>
        <!-- /.l-form-item__control -->
    </span>
    <!-- /.l-form-item__control-wrap -->
</label>
<!-- /.l-form-item -->
