<header class="l-header">
    <button class="l-header__mobile-menu" data-toggle="js-main-menu" data-toggle-class="visible" type="button" title="главное меню">{{ mixins.icon('burger') }}</button>
    <!-- /.mobile-menu js-mobile-toggle -->
    <div class="l-header__bg js-parallax">
        <picture>
            <source srcset="/img/bg/bg2.webp, /img/bg/bg1.webp 2x" type="image/webp">
            <source srcset="/img/bg/bg2.jpg, /img/bg/bg1.jpg 2x" type="image/jpg">
            <img src="/img/bg/bg2.jpg" alt="Снежная целина с нитью отпечатков ног">

        </picture>
    </div>
    <!-- /.l-header__bg -->

    <div class="l-header__nav">
        <nav class="l-main-menu js-main-menu">
            <div class="l-main-menu__inner">
                <ul class="l-main-menu__list">
                    <li class="l-main-menu__item"><a href="#private" class="l-main-menu__name">Личная информация</a></li>
                    <li class="l-main-menu__item"><a href="#experience" class="l-main-menu__name">Опыт</a></li>
                    <li class="l-main-menu__item"><a href="#js" class="l-main-menu__name">JavaScript</a></li>
                    <li class="l-main-menu__item"><a href="#about" class="l-main-menu__name">О себе</a></li>
                </ul>
                <!-- /.l-main-menu__list -->

            </div>
            <!-- /.l-ctr -->

        </nav>
        <!-- /.l-main-menu -->
    </div>
    <!-- /.l-header__nav -->

    <div class="l-header__inner">

        <div class="l-ctr">


            <h1 class="l-header__name">Анкета</h1>
            <!-- /.l-header__name -->
        </div>
        <!-- /.l-header__inner -->
    </div>
    <!-- /.l-ctr -->
</header>
<!-- /.l-header -->
