<section class="l-section">
    <a href="#section-id"></a>
    <div class="l-section__ctr">
        <header class="l-section__header">
            <h2 class="l-section__name">{{ section.name }}</h2>
        </header>
        <!-- /.l-section__header -->

        <div class="l-section-layout l-section-layout_right">
            <div class="l-section-layout__content">{{ section.content }}</div>
            <!-- /.l-section__content -->

            <div class="l-section-layout__context">{{ section.context }}</div>
            <!-- /.l-section__context -->
        </div>
        <!-- /.l-section__layout -->
    </div>
    <!-- /.l-section__ctr -->
</section>
<!-- /.l-section -->
