{% import "partials/_mixins.html" as mixins %}
{% import "../data/dictionary.html" as dictionary %}
{% set random =  range(1, 9999999) | random %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="description" content="lorem ipsum"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>

    <link rel="stylesheet" media="all" href="css/app.css?{{ random }}"/>
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="out">
      {% block header %}{% include '../partials/_header.html' %}{% endblock %}
      {% block content %}{% endblock %}
      {% block modals %}{% endblock %}
    </div>
    <!-- END content -->
    {% include '../partials/_all-modals.html' %}
    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js?{{ random }}"></script>
    <!-- END scripts -->

  </body>
</html>
