.btn {
	font-size: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	display: inline-block;
	border-radius: .25rem;
	box-shadow: 0 0 0 1px transparent;
	height: 3rem;
	line-height: 3rem;
	background-color: #435993;
	color: #ffffff;
	font-family: $f-common;
	font-weight: 400;
	&:hover {
		box-shadow: 0 0 0 1px var(--c-accent);
	}
}
