.l-form {
	
	&-item {
		$fi: &;
		display: block;
		position: relative;
		
		&_input {
			$item: &;
			margin-bottom: 24px;
			max-width: 520px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			
			#{$fi} {
				&__caption {
					position: absolute;
					width: 100%;
					height: 100%;
					line-height: 62px;
					text-align: center;
					pointer-events: none;
					color: #c8c8c8;
					font-family: $f-common;
					font-size: 24px;
					font-weight: 400;
					transition: font-size .1s ease-out, line-height .1s ease-out;
				}
				
				&__control-wrap {
					border: 1px solid #e5e5e5;
					background-color: #fff;
					display: block;
					border-radius: 5px;
					height: 60px;
				}
				
				&__control {
					display: block;
					width: 100%;
					height: 24px;
					background-color: transparent;
					border: none;
					text-align: center;
					color: inherit;
					font-family: $f-common;
					font-size: 20px;
					font-weight: 400;
					line-height: 1;
					bottom: 11px;
					position: absolute;
					
					@media (--phone-big){
						font-size: 16px;
					}
				}
			}
			&.focused {
				#{$fi} {
					&__caption {
						font-size: 14px;
						line-height: 32px;
					}
				}
			}
		}
		
		&_select {
			$item: &;
			margin-bottom: 24px;
			max-width: 320px;
			margin-left: auto;
			margin-right: auto;
			
			#{$fi} {
				&__caption {
					visibility: hidden;
					position: absolute;
					opacity: 0;
					width: 0;
					height: 0;
				}
				
				&__control-wrap {
					
					background-color: #fff;
					display: block;
				}
				
				&__control {
					display: block;
					width: 100%;
					height: 60px;
					background-color: transparent;
					border: none;
					text-align: center;
					color: #c8c8c8;
					font-family: $f-common;
					font-size: 24px;
					font-weight: 400;
					opacity: 0;
					@include placeholder-color(#c8c8c8)
				}
			}
		}
		
		&_checkbox {
			$item: &;
			margin-bottom: 1rem;
			
			&:hover {
				#{$fi} {
					
					&__control-wrap {
					}
					
					&__control {
					}
					
					&__caption {
						&:before {
							background-color: #e9efff;
						}
					}
				}
			}
			
			#{$fi} {
				&__control-wrap {
					display: block;
				}
				
				&__control {
					display: none;
					
					&:checked {
						& + * {
							&:before {
								background-color: #435993;
							}
							&:after {
								opacity: 1;
							}
						}
					}
				}
				
				&__caption {
					padding-left: 32px;
					display: block;
					position: relative;
					&:before {
						content: ' ';
						position: absolute;
						top: 50%;
						margin-top: -10px;
						left: 0;
						width: 20px;
						height: 20px;
						border: 1px solid #435993;
						background-color: #fff;
						border-radius: 2px;
						transition: background-color .1s ease-out;
					}
					&:after {
						content: ' ';
						position: absolute;
						top: 50%;
						margin-top: -10px;
						left: 0;
						width: 20px;
						height: 20px;
						background: no-repeat center;
						background-image: url('cb_active.svg');
						opacity: 0;
						transition: opacity .1s ease-out;
					}
				}
			}
		}
		
		&_textarea {
			$item: &;
			margin-bottom: 24px;
			max-width: 520px;
			margin-left: auto;
			margin-right: auto;
			#{$fi} {
				&__caption {
					visibility: hidden;
					position: absolute;
					opacity: 0;
					width: 0;
					height: 0;
				}
				
				&__control-wrap {
					border: 1px solid #e5e5e5;
					background-color: #fff;
					display: block;
					border-radius: 5px;
				}
				
				&__control {
					display: block;
					width: 100%;
					min-height: 180px;
					background-color: transparent;
					border: none;
					color: inherit;
					font-family: $f-common;
					font-size: 20px;
					font-weight: 400;
					resize: vertical;
					padding: 16px;
					@include placeholder-color(#c8c8c8);
				}
			}
		}
		
		&_range {
			padding-bottom: 48px;
			
			#{$fi} {
				
				&__control {
				}
			}
		}
		
		&__range-captions {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			margin-bottom: 17px;
			
			li {
				width: 25%;
				flex: 1 1 25%;
				color: #2e211c;
				font-family: $f-common;
				font-size: 13px;
				font-weight: 400;
				line-height: 1.46;
				position: relative;
				box-sizing: border-box;
				&:before {
					content: ' ';
					position: absolute;
					left: 0;
					height: 32px;
					top: 100%;
					border-left: 1px dotted #b9b9b9;
				}
				&:not(:last-child) {
					padding-right: 10px;
					
				}
				&:last-child {
					text-align: right;
					&:before {
						left: auto;
						right: 0;
					}
				}
			}
			
			@media (--phone-big) {
				li {
					width: 100%;
					max-width: 100%;
					flex: 1 1 auto;
					text-align: center;
					
					br {
						display: none;
					}
					
					&:last-child {
						text-align: center;
					}
					&:before {
						display: none;
					}
				}
				li:not(.active) {
					display: none;
				}
			}
		}
	}
	&__btns {
		text-align: center;
		margin-top: 5rem;
		@media (--phone-big){
			margin-top: 3rem;
		}
	}
	&-cols {
		column-count: 3;
		
		@media (--tablet){
			column-count: 2;
		}
		
		@media (--phone-big){
			column-count: 1;
		}
	}
}
