//$mfp-overlay-color: $c-accent4

@import '../lib/magnific/main'

.modal
	
	$root: &
	&_common
		background: #ffffff
		max-width: 580px
		margin: auto
		position: relative

		#{$root}
			&__header
				padding: 2rem 3rem
				//border-bottom: 1px solid //$c_grey
				position: relative
				&:before
					content: ' '
					position: absolute
					bottom: 0
					left: 0
					right: 0
					height: 1px
					background: #ebebeb

			&__name
				font-family: $f-header
				font-size: 2rem
				font-weight: 600

			&__content
				padding: 2rem 3rem
				*+*
					margin-top: 0.5rem
				ul
					list-style: initial
			&__footer
				padding: 2rem 3rem
				background-color: #f7f7f7
				color: #999999
				font-size: .8rem

				a
					text-decoration: none
					
		.mfp-close
			opacity: 1
			font-size: 36px
			top: 14px
			right: 14px
			&:hover
				opacity: 1
				color: var(--c-accent)
		
		
		@media(--phone-big)
			&:before
				width: 20px
			#{$root}
				&__header
					padding: 45px 24px 20px 24px
					&:before
						left: 40px
						right: 20px
				&__content
					padding: 20px 24px 20px 24px

					ul
						list-style-position: inside
				&__footer
					padding: 20px 24px 20px 24px

				&__name
					font-size: 23px
					line-height: 1.52
			.mfp-close
				top: 0
				right: 0


.modal-artifacts
	max-width: 860px
	margin: auto

	&__inner
		position: relative
	&__close
		position: absolute
		top: 5px
		right: 5px
		color: #999999
		//font-family: $f_common
		font-size: 12px
		line-height: 1
		cursor: pointer
		z-index: 3
		//transition: color $t_common
		&:hover
			color: #fff
	&__content

	@media (--desktop)
		max-width: 660px
	@media (--tablet)
		
		padding-top: 40px
		padding-bottom: 40px
		&__inner
			max-width: 280px
			margin: auto
		&__close
			top: -32px
	.mfp-close
		display: none





.modals-holder
	position: absolute
	visibility: hidden
	overflow: hidden
	width: 0
	height: 0
	left: -1px
	bottom: -1px


//// animation

.modal-slide-up
	.zoom-anim-dialog
		opacity: 0
		transition: all 0.2s ease-in-out
		transform: translateY(-10%)

	&.mfp-ready .zoom-anim-dialog
		opacity: 1
		transform: translateY(0)

	&.mfp-removing .zoom-anim-dialog
		transform: translateY(10%)
		opacity: 0

	&.mfp-bg
		opacity: 0
		transition: opacity 0.2s ease-out

	&.mfp-ready.mfp-bg
		opacity: 0.9
	&.mfp-removing.mfp-bg
		opacity: 0

/* animate in

/* animate out

/* Dark overlay, start state

/* animate in

/* animate out
