.text-block {
	$root: &;
	position: relative;
	> * {
		margin-top: 1rem;
		margin-bottom: 1rem;
		
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	h2,.h2 {
		font-size: 2.5rem;
		//font-weight: 500;
		margin-top: 3.5rem;
		margin-bottom: 1.5rem;
		@media (--phone-big) {
			font-size: 2em;
		}
	}
	
	h3, .h3 {
		font-size: 2rem;
		//font-weight: 500;
		margin-top: 2.5rem;
		margin-bottom: 1.5rem;
		
		@media (--phone-big) {
			font-size: 1.5em;
		}
	}
	
	h4, .h4 {
		font-size: 1.5rem;
		//font-weight: 500;
		margin-top: 2rem;
		margin-bottom: 1.5rem;
		
		@media (--phone-big) {
			font-size: 1.5em;
		}
	}
	
	p {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	
	ul{
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		margin-left: 2.5rem;
		li {
			&:nth-child(n+1) {
				margin-top: 1rem;
			}
			&:before {
				content: '—';
				//font-weight: bold;
				margin-right: 1rem;
				position: absolute;
				transform: translateX(-200%);
			}
		}
	}
	.tb-lead {
		font-weight: 500;
		font-size: 1.2em;
		color: #221F20;
		@media (--phone-big) {
			font-size: 1em;
		}
	}
	blockquote {
		margin: 1.6rem 0 ;
		padding-left: 3em;
		font-weight: 500;
		position: relative;
		//font-family: 'Vollkorn', serif;
		
		&:before {
			content: ' ';
			position: absolute;
			//left: -6.4vw;
			top: 0;
			left: 0;
			width: 1em;
			height: 100%;
			background-color: var(--c-accent);
			
		}
		
		@media (--tablet) {
			padding-left: 2em;
			
			&:before {
				width: .8em;
			}
			
		}
	}
	
	&__context {
		$item: &;
		position: absolute;
		width:  calc(100%*1.6 - 100%);
		right: calc((100%*1.6 - 100%) * -1);
		padding-left: 10%;
		top: 0;
		margin-bottom: 1.5rem;
		z-index: 64;
		min-height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		
		>* {
			position: sticky;
			top:  2rem;
			//max-width: 20rem;
			//bottom:  (1.6rem * 3);
		}
		
		&-wrap {
			position: relative;
			&:last-child{
				#{$item}{
					//bottom: 0;
					//top: initial;
				}
			}
			> * {
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		
		
		
		@media (--tablet) {
			position: static;
			padding-left: 0;
			width: 100%;
			margin-top: 1.5rem;
			max-width: 24rem;
			justify-content: flex-start;
			
		}
		@media (--phone-big) {
		}
	}
	&_right {}
	&_left {
		#{$root} {
			&__context {
				right: initial;
				left: calc((100%*1.6 - 100%) * -1);
				padding-right: 10%;
				padding-left: 0;
				
			}
		}
		
	}
	> * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
