.l-section {
	
	&-header {
		margin-bottom: 3em;
		margin-top: 4.5rem;
		
		&__icon {
			display: block;
			text-align: center;
			margin-bottom: 2em;
			.icon {
				font-size: 48px;
				color: #9e9e9e;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
		
		&__name {
			display: block;
			text-align: center;
			margin: 0;
			color: #1c1c1c;
			font-family: $f-common;
			font-size: 30px;
			font-weight: 400;
			line-height: 1;
		}
		
		&__lead {
			max-width: 480px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 24px;
			text-align: center;
		}
		
		@media (--phone-big) {
			margin-top: 3rem;
		}
		@media (--phone) {
			margin-top: 2rem;
		}
	}
	
}
