<div class="l-section-header" id="about">
    <div class="l-section-header__icon">{{ mixins.icon('text') }}</div>
    <!-- /.l-section-header__icon -->
    <h2 class="l-section-header__name">Расскажите о себе</h2>
    <!-- /.l-section-header__name -->
    <p class="l-section-header__lead">Напишите несколько предложений, чем привлекла наша вакансия и что вы ожидаете от работы у нас.</p>
    <!-- /.l-section-header__lead -->
</div>
<!-- /.l-section-header -->

{% for formItem in data.formItems4 %}
    {% include 'partials/form/_' + formItem.type + '.html' %}
{% endfor %}
