<div class="l-section-header" id="experience">
    <div class="l-section-header__icon">{{ mixins.icon('list') }}</div>
    <!-- /.l-section-header__icon -->
    <h2 class="l-section-header__name">Расскажите о своем опыте</h2>
    <!-- /.l-section-header__name -->
</div>
<!-- /.l-section-header -->
<div class="l-form-cols">
    {% for formItem in data.formItems2 %}
        {% include 'partials/form/_' + formItem.type + '.html' %}
    {% endfor %}
</div>
<!-- /.l-form-cols -->



