<div class="l-section-header" id="js">
    <div class="l-section-header__icon">{{ mixins.icon('js') }}</div>
    <!-- /.l-section-header__icon -->
    <h2 class="l-section-header__name">Уровень владения JavaScript</h2>
    <!-- /.l-section-header__name -->
</div>
<!-- /.l-section-header -->

{% for formItem in data.formItems3 %}
    {% include 'partials/form/_range.html' %}
{% endfor %}
