<div class="l-section-header" id="private">
    <div class="l-section-header__icon">{{ mixins.icon('pass') }}</div>
    <!-- /.l-section-header__icon -->
    <h2 class="l-section-header__name">Личная информация</h2>
    <!-- /.l-section-header__name -->
</div>
<!-- /.l-section-header -->

{% for formItem in data.formItems1 %}
    {% include 'partials/form/_' + formItem.type + '.html' %}
{% endfor %}
