.icon-burger {
  width: 1em;
  height: 1em;
  fill: #006DF0;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-js {
  width: 1em;
  height: 1em;
  fill: #9e9e9e;
}
.icon-list {
  width: 1em;
  height: 1em;
  fill: #9e9e9e;
}
.icon-pass {
  width: 1em;
  height: 1em;
  fill: #9e9e9e;
}
.icon-slider_handle {
  width: 0.88em;
  height: 1em;
  fill: #fff;
}
.icon-text {
  width: 1em;
  height: 1em;
  fill: #9e9e9e;
}
